<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ql_banraucuqua</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password"/>
  <property name="show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  
  <!-- Mapping class java -->
  <mapping class="quanlybanraucuqua.Entitys.Categorys"/>
  <mapping class="quanlybanraucuqua.Entitys.Orderdetails"/>
  <mapping class="quanlybanraucuqua.Entitys.Orders"/>
  <mapping class="quanlybanraucuqua.Entitys.Products"/>
  <mapping class="quanlybanraucuqua.Entitys.Providers"/>
  <mapping class="quanlybanraucuqua.Entitys.Reports"/>
  <mapping class="quanlybanraucuqua.Entitys.Users"/>
  
 </session-factory>
</hibernate-configuration>
